<h1>Listing items</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr class="row">
        <td><%= item.url %></td> 
        <td><%= item.description %></td> 
        <td align="right">
          <a href="<%= item.url %>" class="btn btn-info btn-small" target="_blank"><i class="fa fa-eye"></i></a> 
          <button class="btn btn-warning"><i class="fa fa-heart"></i></button>
          <button class="btn btn-danger" data-action="destroy-item"><i class="fa fa-times"></i></button>
        </td>
      </tr>
      <tr>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
